ContenidoPING/Service References/FullService/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://okibrasil.com/wtservice/faults" elementFormDefault="qualified" targetNamespace="http://okibrasil.com/wtservice/faults" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="WtServiceFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorDescription" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WtServiceFault" nillable="true" type="tns:WtServiceFault" />
</xs:schema>