MaterialSkin/Service References/Operaciones/WebTeller3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://okibrasil.com/ws_webteller/types" elementFormDefault="qualified" targetNamespace="http://okibrasil.com/ws_webteller/types" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AuthenticationType">
    <xs:sequence>
      <xs:element name="sLogin" nillable="true" type="xs:string" />
      <xs:element name="sPassword" nillable="true" type="xs:string" />
      <xs:element name="sTerminal" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthenticationType" nillable="true" type="tns:AuthenticationType" />
</xs:schema>