MaterialSkinExample/Service References/Operaciones/WebTeller.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://okibrasil.com/ws_service" elementFormDefault="qualified" targetNamespace="http://okibrasil.com/ws_service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/ws_webteller/WebTeller.svc?xsd=xsd2" namespace="http://okibrasil.com/ws_webteller/types" />
  <xs:import schemaLocation="http://localhost/ws_webteller/WebTeller.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WS_Webteller.OperationTypes" />
  <xs:element name="InitTerminal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://okibrasil.com/ws_webteller/types" minOccurs="1" name="authData" nillable="true" type="q1:AuthenticationType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InitTerminalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WS_Webteller.OperationTypes" minOccurs="0" name="InitTerminalResult" nillable="true" type="q2:DataResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CloseTerminal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://okibrasil.com/ws_webteller/types" minOccurs="1" name="authData" nillable="true" type="q3:AuthenticationType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CloseTerminalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WS_Webteller.OperationTypes" minOccurs="0" name="CloseTerminalResult" nillable="true" type="q4:DataResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartDeposit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://okibrasil.com/ws_webteller/types" minOccurs="1" name="authData" nillable="true" type="q5:AuthenticationType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartDepositResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WS_Webteller.OperationTypes" minOccurs="0" name="StartDepositResult" nillable="true" type="q6:DataResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContinueDeposit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://okibrasil.com/ws_webteller/types" minOccurs="1" name="authData" nillable="true" type="q7:AuthenticationType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContinueDepositResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WS_Webteller.OperationTypes" minOccurs="0" name="ContinueDepositResult" nillable="true" type="q8:DataResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EndDeposit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://okibrasil.com/ws_webteller/types" minOccurs="1" name="authData" nillable="true" type="q9:AuthenticationType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EndDepositResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WS_Webteller.OperationTypes" minOccurs="0" name="EndDepositResult" nillable="true" type="q10:DataResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelDeposit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://okibrasil.com/ws_webteller/types" minOccurs="1" name="authData" nillable="true" type="q11:AuthenticationType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelDepositResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/WS_Webteller.OperationTypes" minOccurs="0" name="CancelDepositResult" nillable="true" type="q12:DataResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Withdraw">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://okibrasil.com/ws_webteller/types" minOccurs="1" name="authData" nillable="true" type="q13:AuthenticationType" />
        <xs:element minOccurs="1" name="iTotalValue" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WithdrawResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/WS_Webteller.OperationTypes" minOccurs="0" name="WithdrawResult" nillable="true" type="q14:DataResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransactionDayOpen">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://okibrasil.com/ws_webteller/types" minOccurs="1" name="authData" nillable="true" type="q15:AuthenticationType" />
        <xs:element minOccurs="1" name="day" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransactionDayOpenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/WS_Webteller.OperationTypes" minOccurs="0" name="TransactionDayOpenResult" nillable="true" type="q16:DataResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransactionDayClose">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://okibrasil.com/ws_webteller/types" minOccurs="1" name="authData" nillable="true" type="q17:AuthenticationType" />
        <xs:element minOccurs="1" name="day" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransactionDayCloseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/WS_Webteller.OperationTypes" minOccurs="0" name="TransactionDayCloseResult" nillable="true" type="q18:DataResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransactionDayReopen">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://okibrasil.com/ws_webteller/types" minOccurs="1" name="authData" nillable="true" type="q19:AuthenticationType" />
        <xs:element minOccurs="1" name="day" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransactionDayReopenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/WS_Webteller.OperationTypes" minOccurs="0" name="TransactionDayReopenResult" nillable="true" type="q20:DataResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransactionDayCurrent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://okibrasil.com/ws_webteller/types" minOccurs="1" name="authData" nillable="true" type="q21:AuthenticationType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransactionDayCurrentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/WS_Webteller.OperationTypes" minOccurs="0" name="TransactionDayCurrentResult" nillable="true" type="q22:DataResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>